body{
  background-color:#fcf8e9;
}
#site-nav{
  background-color:#fcf8e9;
  display:block;
  text-align:center;
  color:#272625; text-shadow: 2px 2px 2px #aeaeaf;
}
#footer{
  background-color:#3f4040;
  color:#fff1b9;
}
.archive__subtitle {
    color: #272625;
    border-bottom: 1px solid #3f4040;
}
.masthead {
  border-bottom: 1px solid #3f4040;
}
.btn--inverse {
    background-color: #5e5e5f;
    color: #272625;
    border: 1px solid #3f4040;
}
.author__urls {
    border: 1px solid #3f4040;
    border-radius: 4px;
    background: #5e5e5f;
    box-shadow: 0 2px 4px 0 rgba(255,241,185,0.16), 0 2px 10px 0 rgba(255,241,185,0.12);
}
@media (min-width: 64em){
.author__urls {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}
.author__urls:before {
    border-color: #3f4040 transparent;
}
a, a:visited , ul.author__urls .social-icons li a:visited{
    color: #5e5e5f;
}
a.site-title:visited{
    color:#272625;
}
ul.social-icons li a:visited,
.page__footer-copyright a:visited{
    color:#fff1b9;
}
