body{
  background-color:#fff3f3;
}
#site-nav{
  background-color:#fff3f3;
  display:block;
  text-align:center;
  color:#ffaaaa; text-shadow: 2px 2px 2px #e99;
}
#footer{
  background-color:#ffaaaa;
  color:#fff;
}
.archive__subtitle {
    color: #ffaaaa;
    border-bottom: 1px solid #a44;
}
.masthead {
  border-bottom: 1px solid #a44;
}
.btn--inverse {
    background-color: #fff;
    color: #e99;
    border: 1px solid #a44;
}
