body{
  background-color:#fcf8e9;
}
#site-nav{
  background-color:#fcf8e9;
  display:block;
  text-align:center;
  color:#272625; text-shadow: 2px 2px 2px #aeaeaf;
}
#footer{
  background-color:#3f4040;
  color:#fff1b9;
}
.archive__subtitle {
    color: #272625;
    border-bottom: 2px dashed #5e5e5f;
}
.masthead {
  border-bottom: 2px dashed #5e5e5f;
}
.btn--inverse {
    background-color: #f3f3f3;
    color: #272625;
    border: 2px dashed #3f4040;
}
.author__urls {
    border: 2px solid #3f4040;
    border-radius: 4px;
    background: #f3f3f3;
    box-shadow: 0 2px 4px 0 rgba(255,241,185,0.16), 0 2px 10px 0 rgba(255,241,185,0.12);
}
@media (min-width: 64em){
.author__urls {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .sidebar{
    border-right: 2px double #5e5e5f;
  }
}
.author__urls:before {
    border-color: #5e5e5f transparent;
}
a, a:visited{
    color: #5e5e5f;
}
a.site-title:visited{
    color:#272625;
}
.page__footer-copyright a:visited{
    color:#fff1b9;
}
.author__urls:after {
  top: -8px;
}


//donation
.table_donation{
  width: 60%;
}
.table_donation td, .table_donation tbody{
  width: 50%;
  height: 50%;
}
@media (min-width: 64em){
.table_donation{
  width: 80%;
}
}
.donation{
  width:100%; height:100%; border-radius:5px; border: 3px double #aeaeaf; font-size:2em; color:#fff;
}
#twip{
  background:url('/img/twip.png');
  href:url('https://twip.kr/com8599');
}
