.page__share {
    border-top: 1px solid #f1bbba;
}
.page__taxonomy-item {
    border: 1px solid #f1bbba;
}
.page__meta, .comment__date {
    color: #f1bbba;
}
a {
    color: #a79c8e;
}
a:visited {
    color:#a79c8e;
}
