.page__share {
    border-top: 1px solid #c99;
}
.page__taxonomy-item {
    border: 1px solid #c99;
}
.page__meta, .comment__date {
    color: #faa;
}
a {
    color: #a44;
}
a:visited {
    color:#966;
}
a.site-title:visited{
    color:#a44;
}
