.page__share {
    border-top: 1px solid #3f4040;
}
.page__taxonomy-item {
    border: 1px solid #3f4040;
}
.page__meta, .comment__date {
    color: #5e5e5f;
}
a, a:visited {
    color: #5e5e5f;
}
a.site-title:visited{
    color:#272625;
}
ul.social-icons li a:visited,
.page__footer-copyright a:visited{
    color:#fff1b9;
}
